// fonts
@import url('/fonts/Raleway-Regular.css');

// variables
$font-fancy: Raleway-Regular;
$font-base: "Courier New", Courier, monospace;
$base-color: rgba(189, 195, 199, 1);

// semi-sensible defaults
html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $base-color;
}

body {
  font-size: 1.4rem;
  font-family: $font-base;
  padding: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-fancy;
}


/////
li {
    list-style: none;
}
li:before {
    content: "✓ ";
}

.spreadsheet-cell {
    border: none;
    width: 80px;
    font-size: 14px;
    padding: 2px;
    &:hover {
        background-color: #eee;
    }

    &:focus {
        background-color: #ccf;
    }

    &:not(:focus) {
        text-align: right;
    }
}



.spreadsheet {
    border-collapse: collapse;
    padding-right: 1em;
}

.spreadsheet td {
    border: 1px solid #999;
    padding: 0;
}

.spreadsheet tr:first-child td, .spreadsheet td:first-child {
    background-color: #ccc;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}
.container {
  width: 100%;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.aside {
  float: left;
  width: 21%;
  padding: 1%;
  margin: 0;
}
.section {
  float: left;
  width: 74%;
  padding:1%;
  margin: 0;
}
footer {
    font-size: 80%;
}
