<div class="container clearfix">
  <header>
      <h1>Reactive SpreadSheet</h1>
  </header>
  <aside class="aside">

  </aside>
  <section class="section">
    <ul>
        <li>Libraries used: <strong>Baconjs,lodashjs, jQuery, Socket.io</strong></li>
        <li>Excel-like syntax (The "=" symbol is optional)</li>
        <li>Support for arbitrary expressions (=A1+B2*C3)</li>
        <li>Circular reference detection</li>
        <li>Automatic localStorage persistence</li>
    </ul>

    <table class="spreadsheet"></table>

  </section>
</div>
<footer>
  <p>&copy; 2016 <a href="http://ondras.zarovi.cz/">Michael Godden</a></p>
  <p>Inspired by </p>
  <p><a href="http://thomasstreet.net/blog/spreadsheet.html">http://thomasstreet.net/blog/spreadsheet.html</a></p>
  <p><a href="http://ondras.zarovi.cz/">Ondřej Žára</a></p>
</footer>
